html {
    background-image: 
    linear-gradient(to bottom right, rgba(131, 148, 118, 0.52), rgba(214, 205, 192, 0.56)),
    url("img/background_image.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center top;
    background-attachment: fixed;
}