html {
    background-image: 
    linear-gradient(to bottom right, rgba(131, 148, 118, 0.52), rgba(214, 205, 192, 0.56)),
    url("img/background_image.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center top;
    background-attachment: fixed;
}

body{
    margin: 0px;
}
header {
    margin: 0px;
}
.navbar {
    background-color: rgb(86, 110, 61);
    margin: 0px;
    overflow: hidden;
  }

.navbar a {
    float: left;
    display: block;
    color: rgb(215, 211, 217);
    text-align: center;
    padding: 14px 16px;
    font-family:'Kaisei Tokumin', serif;
    text-decoration: none;
    font-size: 17px;
  }

.navbar a:hover {
    background-color:rgb(54, 44, 40);
    color: rgb(215, 211, 217);
  }
/*h1 {
    font-family:'Kaisei Tokumin', serif;
    font-weight: bold;
    position: fixed;
    top: 50%;
    left: 50%;
}